@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
	background-color: black;
	overflow: hidden;
}

svg {
	font-family: "Audiowide", cursive;
	position: absolute;
	width: 100%;
	height: 100%;
	filter: url(#screen-noise);
}

body:before {
	content: " ";
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(
			0deg,
			transparent 50%,
			rgba(0, 0, 0, 0.8) 10%
		),
		linear-gradient(90deg, transparent 80%, rgba(0, 0, 0, 0.8) 10%);
	background-size: 3px 3px;
}

svg text {
	text-transform: uppercase;
	fill: red;
	font-size: 50px;
	filter: url(#Glow);
}
