@font-face {
    font-family: 'Cousine';
    src: url('/fonts/Cousine-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-feature-settings: normal;
    font-variant-ligatures: none;
    text-rendering: optimizeSpeed;
}

@keyframes breathe {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

  html,
body,
#root{
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}